{% extends 'base/base.html' %}
{% load static %}

{% block other_link %}
<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'post/css/post_list_style.css' %}">
{% endblock %}

{% block content %}
<div class="container bootstrap snippets bootdey my-4">
    <div class="col-sm-8">
        <div class="panel panel-white post panel-shadow">
            <div class="post-heading">
                <div class="pull-left image">
                    <img src="{{post.author.avatar.url}}" class="img-circle avatar" alt="user profile image">
                </div>
                <div class="pull-left meta">
                    <div class="title h5">
                        <a href="{{post.author.get_profile_url}}"><b>{{post.author.username}}</b></a>
                        made a post.<br/>
                        {% if post.author.id == user.id %}
                        <a href="{{ post.get_update_url }}"> Update </a><br/>
                        <a href="{{ post.get_delete_url }}"> Delete </a><br/>
                        {% endif %}
                    </div>
                    <h6 class="text-muted time">{{post.date}}</h6>
                </div>
            </div> 
            <div class="post-description"> 
                <p>{{post.description}}</p>
                <img src="{{post.meme.url}}" width="300" height="300">
                <!-- <div class="stats">
                    <a href="#" class="btn btn-default stat-item">
                        <i class="fa fa-thumbs-up icon"></i>2
                    </a>
                    <a href="#" class="btn btn-default stat-item">
                        <i class="fa fa-share icon"></i>12
                    </a>
                </div> -->
            </div>
            <div class="post-footer">

                <form method="post">
                    {% csrf_token %}
                    <div class="input-group"> 
                        <input class="form-control" placeholder="Add a comment" type="text" name="content">
                        <span class="input-group-addon">
                            <a type="submit" href="#"><i class="fa fa-edit"></i></a>  
                        </span>
                    </div>
                </form>

                <ul class="comments-list">
                    {% for comment in comments %}
                    <li class="comment">
                        <a class="pull-left" href="#">
                            {% if comment.is_anonymous_comment %}
                            <img class="avatar" src="{{MEDIA_URL}}avatar/unknow.png" alt="avatar">
                            {% else %}
                            <img class="avatar" src="{{comment.get_author.avatar.url}}" alt="avatar">
                            {% endif %}
                        </a>
                        <div class="comment-body">
                            <div class="comment-heading">
                                <h4 class="user"><a href="{{comment.get_author.get_profile_url}}">{{comment.author}}</a></h4>
                                <h5 class="time">{{comment.date}}</h5>
                            </div>
                            <p>{{comment.content}}</p>
                        </div>
                    </li>
                    {% endfor %}
                </ul>

            </div>
        </div>
    </div>
</div>
{% endblock %}