{% extends 'base/base.html' %}
{% load static %}

{% block content %}
<!-- Page Content -->
<div class="container">

  <h1 class="font-weight-light text-center text-lg-left mt-4 mb-0">All posts</h1>

  <hr class="mt-2 mb-5">

  <div class="row text-center text-lg-left">

    {% for post in object_list %} 
      <div class="col-lg-3 col-md-4 col-6">
        <a href="{{post.get_absolute_url}}" class="d-block mb-4 h-100">
          <img class="img-fluid img-thumbnail" src="{{post.meme.url}}" alt="">
        </a>
      </div>
    {% endfor %}

</div>
<!-- /.container -->

	<!-- pagination -->
  <div class="container">
    {% if is_paginated %}
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        
        {% if page_obj.has_previous %}
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
        {% endif %}
        
        {% for index in paginator.page_range %}
        {% if page_obj.number == index %}
        <li class="page-item active"><a class="page-link" href="?page={{index}}">{{index}}</a></li>
        {% else %}
        <li class="page-item"><a class="page-link" href="?page={{index}}">{{index}}</a></li>
        {% endif %}
        {% endfor %}
        
        {% if page_obj.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
        {% endif %}
        
      </ul>
    </nav>
    {% endif %}
    <!-- endpagination -->
    
  </div>

{% endblock %}