{% extends 'base/base.html' %}
{% load static %}

{% block content %}
<!-- Page Content -->
<div class="container">

  <h1 class="font-weight-light text-center text-lg-left mt-4 mb-0">Search Engine</h1>

  <hr class="mt-2 mb-5">

  {% if is_empty_result == True %}
  <center>
    <h2>Oops</h2>
    <small>Nothing found!</small><br>
    <img src="{% static 'base/img/nothing_found.jpeg' %}">
  </center>
  {% endif %}

  <div class="row">
    {% for cat in categories %}
      <a class="btn btn-sm btn-outline-warning m-2" href="{{cat.get_absolute_url}}">{{ cat }}</a>
    {% endfor %}
  </div>

  <div class="row text-center text-lg-left">

    {% for post in posts %} 
      <div class="col-lg-3 col-md-4 col-6">
        <a href="{{post.get_absolute_url}}" class="d-block mb-4 h-100">
          <img class="img-fluid img-thumbnail" src="{{post.meme.url}}" alt="">
        </a>
      </div>
    {% endfor %}

</div>
<!-- /.container -->
{% endblock %}